build
dist
dist/index.esm.js

LICENSE
CNAME

.cache
.history
.DS_Store
.eslintignore
.gitignore
.prettierignore
.eslintcache
.npmignore

*.svg
*.png
*.lock
*.esm.js
lerna.json
package.json
yarn-error.log

